<%= provide :titile, "Show user via admin" %>

<div class="row">
  <div class="col-sm-8" style="background-color:lavender;"> 
  <div class="row">
    <div class="col-sm-5">
      <h2> User profile </h2>
    </div>
    <div class="col-sm-3">
      <h2><%= link_to "Edit", edit_admin_user_path(@user), class: "btn btn-primary" %>
      </h2>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2">
      Name: 
    </div>
    <div class="col-sm-4">
      <%= @user.name %>
    </div>
    </div>

  <div class="row">
    <div class="col-sm-2">
      Email: 
    </div>
    <div class="col-sm-4">
      <%= @user.email %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2">
      In course :   
    </div>
  </div>
  </div>
  <div class="col-sm-4" style="background-color:lavenderblush;">
    <h2>Acitivty</h2>
  </div>
</div>



